.settings-page {
  background: #f5f6f8;
  min-height: 100vh;
  padding: 20px;
  font-family: "Inter", sans-serif;

  display: flex;
  justify-content: center;
}

/* CENTERED MAIN CONTAINER */
.settings-container {
  width: 100%;
  max-width: 900px;
}

/* HEADER */
.settings-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

/* LEFT SIDE */
.header-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* RIGHT SIDE */
.header-right {
  display: flex;
  align-items: center;
  gap: 12px;
}

.settings-header h2 {
  margin: 0;
  font-size: 22px;
}

/* ICON */
.icon {
  cursor: pointer;
}

/* AVATAR */
.avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

/* CARD */
.card {
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #e5e7eb;
}

/* RADIO */
.radio {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

/* TIME ROW */
.time-row {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

/* SELECT */
select {
  padding: 6px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

/* SECURITY */
.security-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* TEXT */
.bold {
  font-weight: 600;
}

.sub {
  font-size: 12px;
  color: gray;
}

/* BUTTON */
.primary-btn {
  background: #3b82f6;
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.primary-btn.full {
  width: 100%;
  margin-top: 10px;
}

/* TABLE */
.table {
  width: 100%;
}

.table-head,
.table-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px 0;
}

.table-head {
  font-weight: 600;
  border-bottom: 1px solid #ddd;
}

.table-row {
  border-bottom: 1px solid #eee;
}

/* INPUT */
input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

/* TOGGLE */
.toggle-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* SWITCH */
.switch {
  position: relative;
  width: 45px;
  height: 24px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  background: #ccc;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.slider:before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  background: white;
  border-radius: 50%;
  top: 3px;
  left: 3px;
  transition: 0.3s;
}

.switch input:checked + .slider {
  background: #3b82f6;
}

.switch input:checked + .slider:before {
  transform: translateX(20px);
}