:root {
  --bg-color: #ffffff;
  --text-color: #111111;
  --card-color: #f5f6f8;
}

[data-theme="dark"] {
  --bg-color: #121212;
  --text-color: #ffffff;
  --card-color: #1e1e1e;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}
/* GLOBAL ICON COLOR */
svg {
  color: var(--text-color);   /* 🔥 auto change with theme */
  transition: color 0.3s ease;
}